*{
    margin: 0px;
    padding: 0px;
    font-family: Century;
}
header{
     background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(./ev.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    min-height: 100px;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 30px;
    min-height: 400px;
    margin-right: 40px;
    font-size: 18px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.5s;
}

ul li a:hover{
    background-color: #fff;
    color: #000;
}
ul li.active a{
    background-color: #fff;
    color: #000;
}
.main{
    max-width: 1200px;
    margin: auto;

}

.title{
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title h1{
    color: #fff;
    font-size: 70px;
}
.button{
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btn{
    border: 1px solid #fff;
    padding: 5px 20px;
    color: #fff;
    transition: 0.5 ease;
    font-size: 18px;
    text-decoration: none;
}
.btn:hover{
    background-color: #fff;
    color: #000;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
table {
  border-collapse: collapse;
  width: 100%;
}
footer{
   height: 100vh;
   background-size: cover;
   background-position: center;
   min-height: 100px;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 30px;
    min-height: 400px;
    margin-right: 40px;
    font-size: 18px;
}
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
* {
    box-sizing: border-box;
  }
  .card {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
  }
  .card img {
    vertical-align: middle;
  }
  .card .text {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);/* Fallback color */
    background: rgba(0, 0, 0, 0.5);/* Black background with opacity */
    color: #ffffff;
    width: 100%;
    padding: 20px;
  }
